body,
html {
    height: 70%;
    width: 80%;
}

/*body {*/
    /*margin-bottom: 120px; !* Margin bottom by footer height*!*/
/*}*/

.center {
    left: 50%;
    transform: translate(-50%, 0);
    position: absolute;
}

.top {
    top: 20%;
}